.header {
    background: #b2b4bb;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.header-table{
    float: left;
    padding: 1rem;
    font-size: 1.5rem;
}

.header-table-item{
    height: 70%;
    width: 150px;
    font-size: 100;
    color: #22b8cf;
    cursor: pointer;
}

.login{
    float: right;
    display: flex;
    cursor: pointer;
}

.user_status{
    width: 200px;
    font-size: 1.5rem;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 1px solid #c5f6fa;
}

.logged{
    display: flex;
}

.logouted{
    display: flex;
}

.login-button{
    width: 100px;
    text-align: center;
    font-size: 1.5rem
}

.logout-button{
    width: 100px;
    text-align: center;
    font-size: 1.5rem
}